# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"
export PATH=$PATH:/usr/local/sbin
if [[ "$OSTYPE" == ^darwin ]]; then
    PATH="$(brew --prefix coreutils)/libexec/gnubin:$PATH"
fi
PATH=/Users/eudisd/opt/android-sdk-macosx/tools:$PATH

export PATH=/usr/local/bin:$PATH

export CLOJURESCRIPT_HOME=~/repos/git/clojurescript
export PATH=$PATH:$CLOJURESCRIPT_HOME/bin

export PYTHONPATH=/usr/local/lib/python2.7/site-packages:$PYTHONPATH
export LESS="-R"
export EDITOR="vim"
